// app global css in SCSS form


//Layout

a{
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 600px) {
    .mobile-tab {
        display: block !important;
        bottom: 0;
        width: 100%;
    }
    .desktop-drawer{
        display: none !important;
    }
}



.mobile-tab {
    display: none;
}

.q-tabs__content{
    justify-content: space-around;
}

.q-tab{
    color: white;
}

router-link, link, a{
    text-decoration: none !important;
}


// Login (Index) & register

.login-form{
    display: flex;
    height: 200px;
    flex-direction: column;
    row-gap: 15px;
}

.register-form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.form-btn{
    width: 220px;
}


.logo-tw__container{
    display: flex;
}

.logo-tw{
    width: 200px;
    height: 200px;
    margin: auto;
}

// profil

.profil-picture{
    border: 4px #DF8A5C solid;
}


// adminBoard


.table-grid {
    display: flex;
}

.fa-trash {
    color: red;
}

// NoteList


.btn-container {
    width: 80px;
    margin-top: 32px;
}

.btn-container a {
    text-decoration: none;
}

.delete,
.update {
    width: 48px;
    height: 48px !important;
}

// Notecard

@media screen and (max-width: 600px) {
    .notecard{
        width: 100%;
    }
}

.notecard{
    max-height: 160px !important;
}

.notecard:nth-last-child(1){
    margin-bottom: 120px;
}


.priority-chip{
    min-width: 90px !important;
    text-align: center;
}

.q-chip__content{
    justify-content: center;
}

.rounded{
    border-radius: 10px 10px 10px 10px;
}